body{
    background-color: rgb(129, 118, 135);
}
.Component{
    font-size: 50px;
    margin: 50px;
}
.btn1{
    padding: 10px;
    border-radius: 10px;

}
.btn1:hover{
   background-color:gray;
}
.count-increas{
    border: 2px solid black;
    padding: 20px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(101, 18, 146);

}